.breadcrumb {
  margin: 0;
  padding-bottom: 8px;

  .breadcrumb-item {
    a {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 1.5px;
        
      &:focus {
        color: inherit;
        outline: 2px dotted $dark;
        outline-offset: 3px;
        border-radius:2px;
      }
    }

    &:hover:not(:disabled):not(.active) {
      color: $dark-red;
    }

    &:active {
      color: $black;
      opacity: 1;
    }

    &.active {
      color: $black;
      opacity: 1;
      text-decoration: none;
      font-weight: $font-weight-bold;

      a {
        color: inherit;
      }
    }

    &.disabled {
      color: $gray-500;
      pointer-events: none;
    }

    .btn-link {
      padding: 0;
      color: inherit;

      &:focus {
        outline: 2px dotted $dark;
        outline-offset: 3px;
        border-radius:2px;
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 0;

      .dropdown-item {
        text-decoration: none;
        font-size: .875rem;
        padding: 1rem;

        &:hover {
          background-color: $gray-100;
          font-weight: $font-weight-bold;
        }

        &:active {
          background-color: $black;
          color: $white;
        }

        &:focus {
          outline-offset: 0px; //TODO: remove this and let focus state be inherited from global dropdown component
        }

        &:not(:last-child) {
          border-bottom: 1px solid $gray-300;
        }
      }
    }
  }
}