.toggle {
   &.form-switch {
       display:flex;
       align-items:center;

      .form-check-input {
         border-color: $gray-600;
         background-color: $gray-400;
         position:relative;
         background-size:auto;
         width: toRem(40);
         height: toRem(24);
         box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.15);
         background-image: none;

         &::before {
          content: '';
          display: inline-block;
          width: 16px;
          position:absolute;
          height: 16px;
          border-radius: 50%;
          background-color: $white;
          border: 1px solid $gray-600;
          margin-top: 3px;
          left:3px;
        }

        &:hover,&:focus {
           cursor:pointer;
           &::before {
             border-width: 2px;
             border-color: $black;
           }
        }

        &:disabled {
           cursor:auto;
           pointer-events:none;
           border-color: $gray-400;
           background-color: $gray-100;
           opacity:1;
           background-image:none;
           &::before {
             background-color: $gray-400;
             border-color: $gray-400;
           }
        }


        &:checked {
           background-color: $gray-100; 
           border-color: $gray-500;
           &::before {
             left:50%;
             content:'\e86c';
             font-family: "material icons",sans-serif;
             color: #00a85a;
             border:none;
             font-size:18px;
             margin:0;
             height:0;
             width:0;
             top: -10%;
             transform: translateY(-10%);
          }

          &:hover {
             cursor:pointer;
             border-width: 2px;
             border-color: $black;
             &:before {
              color: $success;
              top: -14%;
              transform: translateY(-14%);
            }
          }

          &:disabled {
            &::before {
              color: $gray-400;
            }
          }

          + .form-check-label {
             color: #00a85a;
          }
        }
      }
  }

  &--large {
    &.form-switch {
      .form-check-input {
        width: toRem(72);
        height: toRem(40);

        &::before {
          content: '';
          width: toRem(32);
          height: toRem(32);
        }

        &:checked {
          &::before {
             font-size: toRem(36);
             top: -21%;
             left: 47%;
             transform: translate(21%, -47%);
          }

          &:hover {
            &:before {
              top: -25%;
              transform: translateY(-25%);
            }
          }
        }
      }
    }
  }
}