// Convert Px to rem ;

@function toRem($value) {
  $remValue: calc($value / 16) + rem;  //@TODO use base-font-size variable
  @return $remValue;
}

@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value;

    // Below colors are hard coded for a single thing
    // Multi theme colors will need to be moved into a map
    &:hover,
    &:focus {
      color: $deep-carmine;
    }

    &:focus {
      outline: 2px dotted $black;
      border-radius: $border-radius
    }

    &:active {
      color: $dark-red;
    }

    &:visited {
      color: $magenta;
    }

    &[disabled="true"] {
      color: $gray-600;
      pointer-events: none;
    }
  }
}